@import '../fonts/fonts.css';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

body {
  overflow-x: hidden;
  font-family: "Public Sans";
  background: #EDF3F8;
}

nav {
  padding: 40px 0 14px 0;
}

input[type=checkbox] {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 640px) {
  .menu {
    justify-content: space-between;
  }
}
.menu__hr {
  display: none;
}
@media (max-width: 640px) {
  .menu__hr {
    margin-top: 40px;
    display: block;
    width: 100%;
    background: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
}
.menu__img {
  max-width: 134px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 640px) {
  .menu__bar {
    position: relative;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    z-index: 10;
    padding: 48px 24px 0 24px;
    margin-top: 43px;
    max-width: 300px;
    min-height: 100vh;
    width: 100%;
    background: #1B262F;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    right: 0;
    min-height: 100vh;
    transition: 1s;
    transform: translateX(100%);
  }
}
.menu__ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 640px) {
  .menu__ul {
    flex-direction: column;
    row-gap: 32px;
    margin-top: 40px;
    margin-bottom: 32px;
    text-align: center;
  }
}
.menu__ul-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.7;
}
@media (max-width: 640px) {
  .menu__ul-link {
    color: #FBFCFE;
  }
}
.menu__btn {
  display: none;
}
@media (max-width: 640px) {
  .menu__btn {
    display: block;
  }
}
.menu__btn2 {
  display: none;
}
@media (max-width: 640px) {
  .menu__btn2 {
    display: block;
    position: absolute;
    right: 20px;
    color: #FBFCFE;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.menu__input:checked ~ .menu__bar {
  transform: translateX(0%);
}

.hero {
  display: flex;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  padding-top: 75px;
  position: relative;
}
@media (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .hero__left {
    text-align: center;
  }
}
.hero__title {
  max-width: 546px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  color: #6C8294;
}
@media (max-width: 992px) {
  .hero__title {
    max-width: 573px;
    margin-top: 50px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .hero__title {
    padding: 0 24px 0 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    max-width: 327px;
  }
}
.hero__img {
  max-width: 263px;
  height: 500px;
  border-radius: 40px;
}
.hero__input {
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 16px 276px 14px 27px;
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: transparent;
}
@media (max-width: 320px) {
  .hero__input {
    width: 90%;
  }
}
.hero__div {
  position: relative;
}
@media (max-width: 320px) {
  .hero__div {
    display: flex;
    flex-direction: column;
  }
}
.hero__btn {
  position: absolute;
  left: 350px;
  top: 30px;
}
@media (max-width: 320px) {
  .hero__btn {
    left: 0;
    top: 100px;
    right: 0;
  }
}
.hero__label {
  color: #36536B;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
@media (max-width: 320px) {
  .hero__label {
    margin-top: 100px;
  }
}
.hero__span {
  font-weight: 800;
}

.partners {
  margin-top: 75px;
  background: #1B262F;
}

.partner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 100px 0px 100px 0px;
}
@media (max-width: 992px) {
  .partner {
    flex-direction: column-reverse;
  }
}
.partner__left {
  max-width: 455px;
  min-height: 272px;
}
@media (max-width: 992px) {
  .partner__left {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .partner__left {
    text-align: center;
  }
}
.partner__left-btn {
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  padding: 14px 25px;
  background: transparent;
  color: #FBFCFE;
}
@media (max-width: 992px) {
  .partner__left-btn {
    text-align: center;
  }
}
.partner__left-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FBFCFE;
  max-width: 445px;
  min-height: 58px;
}
@media (max-width: 992px) {
  .partner__left-title {
    text-align: center;
  }
}
.partner__left-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  max-width: 445px;
  margin: 24px 0 32px 0;
}
@media (max-width: 992px) {
  .partner__left-text {
    text-align: center;
  }
}
.partner__right {
  margin-left: 131px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 62px;
       column-gap: 62px;
  row-gap: 54px;
}
@media (max-width: 992px) {
  .partner__right {
    margin-bottom: 64px;
    margin-left: 0;
    justify-content: center;
    display: grid;
    grid-template-areas: "item-1 item2" "item-3 item-4" "item-5 item-6";
  }
}
@media (max-width: 320px) {
  .partner__right {
    display: grid;
    width: 327px;
    grid-template-areas: "item-1 item2" "item-3 item-4" "item-5 item-6";
  }
}
.partner__img {
  max-width: 128px;
  min-height: 17px;
}
@media (max-width: 320px) {
  .partner__img {
    max-width: 120px;
  }
}

.input {
  display: flex;
  align-items: center;
  margin: 150px 0 150px 0;
  justify-content: space-around;
  -moz-column-gap: 125px;
       column-gap: 125px;
}
@media (max-width: 992px) {
  .input {
    flex-direction: column;
    text-align: center;
  }
}
.input__imgf {
  max-width: 445px;
  height: 284px;
  -o-object-fit: cover;
     object-fit: cover;
}
.input__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #6C8294;
  margin-bottom: 24px;
}
.input__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
  max-width: 445px;
}

.inp2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 97px;
       column-gap: 97px;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .inp2 {
    flex-direction: column;
    text-align: center;
    flex-direction: column-reverse;
  }
}
.inp2__img {
  max-width: 566px;
}
@media (max-width: 320px) {
  .inp2__img {
    max-width: 328px;
  }
}
.inp2__title {
  font-family: "DM Serif Display";
  max-width: 445px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #6C8294;
  margin-bottom: 24px;
}
.inp2__p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  max-width: 445px;
  color: #6C8294;
}

.payment {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .payment {
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .payment {
    flex-direction: column;
  }
}
.payment__item {
  text-align: center;
}
.payment__img {
  max-width: 106px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .payment__img {
    max-width: 88px;
    margin-top: 100px;
  }
}
.payment__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #6C8294;
  max-width: 350px;
}
@media (max-width: 992px) {
  .payment__title {
    max-width: 223px;
  }
}
.payment__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #6C8294;
  margin-top: 16px;
}
@media (max-width: 992px) {
  .payment__text {
    max-width: 223px;
    min-height: 125px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .inputs {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .inputs {
    flex-direction: column;
  }
}
.inputs__form {
  position: relative;
}
.inputs__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
}
@media (max-width: 992px) {
  .inputs__title {
    margin: 100px 0 40px 0;
  }
}
@media (max-width: 320px) {
  .inputs__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #36536B;
  }
}
.inputs__inp {
  padding: 16px 276px 14px 27px;
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: transparent;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media (max-width: 992px) {
  .inputs__inp {
    margin-bottom: 100px;
  }
}
@media (max-width: 320px) {
  .inputs__inp {
    width: 100%;
  }
}
.inputs__btn {
  padding: 15px 25px;
  background: #BA4270;
  border-radius: 24px;
  border: transparent;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  right: 0;
}
@media (max-width: 992px) {
  .inputs__btn {
    right: 0px;
  }
}
@media (max-width: 320px) {
  .inputs__btn {
    width: 100%;
    left: 0;
    top: 100px;
    right: 0;
  }
}

.footers {
  background-color: #1B262F;
}

.footer {
  margin-top: 100px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  padding: 31px 0;
}
@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding-top: 41px;
  }
}
.footer__logo {
  max-width: 135px;
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .footer__div {
    flex-direction: column;
  }
}
.footer__div-img {
  max-width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 320px) {
  .footer__ul {
    margin: 40px 0 40px 0;
    flex-direction: column;
    row-gap: 31px;
  }
}
.footer__ul-a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  opacity: 0.7;
}
.footer__div-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.btn {
  border: transparent;
  padding: 16px 24px 14px 26px;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  color: #FBFCFE;
}/*# sourceMappingURL=main.css.map */